<body>
  <div class="my-16 px-4 max-w-screen-md mx-auto ">
    <h1 class="text-4xl"><%= @post.title %></h1>

    <div class="mt-4 italic">
      <%= l(@post.published_at, format: :long) %><br>
      <%= @post.author %><br>
    </div>

    <div class="mt-8">
      <%= simple_format(@post.content, class: "mt-4") %>
    </div>
  </div>
</body>
