<body>
  <div class="my-16 px-4 max-w-screen-md mx-auto ">
    <h1 class="text-4xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>

    <div class="mt-4 italic">
      <%= l(Date.current, format: :long) %><br>
      John Doe<br>
    </div>

    <div class="mt-8">
      <p class="mt-4">
        Comminor statim est. Umerus colo vetus. Autem calco tenetur. Succedo cilicium taedium. Laboriosam absque adinventitias. Culpa defendo eum. Derelinquo consequuntur aveho. Strenuus acidus suppellex. Utroque addo nobis. Nihil trucido suasoria. Caritas viscus est. Ab adeo conduco. Sperno consequuntur est. Suspendo cultellus tergiversatio. Caritas comburo possimus. Charisma vitae caelum. Aro capio sint.
      </p>

      <p class="mt-4">
        Creber delectatio advoco. Cohaero magnam sortitus. Tondeo consequatur vomito. Admiratio attero aut. Tametsi cursim summisse. Adfectus cunae delectatio. Angelus quibusdam tertius. Defaeco territo ut. Demonstro molestiae sperno. Basium torrens bos. Suus veritatis thesaurus. Defaeco deprimo accendo. In absum uredo.
      </p>

      <p class="mt-4">
        Vulgo votum expedita. Comitatus et communis. Calco debilito decumbo. Conor nam enim. Enim aestivus caute. Vesco bos quidem. Amplexus tergo carus. Utor convoco aequus. Est et dolores. Acerbitas artificiose et. Tui concido mollitia. Calco audacia tardus. Terra coniuratio cuius.
      </p>

      <p class="mt-4">
        Vesica sustineo credo. Cras cilicium conor. Delinquo animadverto nisi. Recusandae subito adsuesco. Totam ustilo civis. Contra reprehenderit defessus. Adiuvo templum valetudo. Ipsa explicabo alioqui. Aut suscipit tonsor. Blanditiis provident amiculum. Summa copia colo. Argentum cado volaticus.
      </p>

      <p class="mt-4">
        Amplexus theatrum dapifer. Suppono dolores admiratio. Et doloremque pax. Adnuo antea modi. Volaticus molestias repudiandae. Calamitas talus antiquus. Communis tergum xiphias. Autem conatus rerum. Cras copia doloremque. Cohaero vereor illo. Usitas confero admiratio. Torqueo victus sub.
      </p>
    </div>
  </div>
</body>
