<div class="text-center">
  <% 50.times do %>
    <div class="text-6xl uppercase font-semibold transition-colors duration-500 mr-4" data-controller="rotating-colors">
      random color
    </div>
  <% end %>
</div>
